.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__space {
  margin: 1rem 0;
}

.card__elements {
  max-width: 400px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid #38444d;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card__elements:hover,
.card__elements:focus,
.card__elements:active {
  border-color: #d8e3e7;
}

.description {
  margin: 1rem 0;
}

.description h2 {
  margin: 0;
}

.description p {
  line-height: 1.5;
}

.tags {
  margin: 2rem 0 1rem 0;
}

.hashtag {
  display: inline-block;
  margin: 0.5rem;
  padding: 0 0.6rem 0.25rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
  background-color: #12151d;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .description h2 {
    font-size: 1.8rem;
  }

  .description p {
    line-height: 1.8;
  }

  .tags {
    margin-top: 1.5rem;
  }

  .hashtag {
    margin: 0.35rem;
  }
}
